<div id="container" class="cols">
    <div class="sidebar-container">
        <div class="box"><i class="fa fa-square-o fa-5x fa-border" aria-hidden="true" dnd-draggable [dragEnabled]="true" [dragData]="'button'"></i>Button</div>
        <div class="box"><i class="fa fa-check-square-o fa-5x fa-border" aria-hidden="true" dnd-draggable [dragEnabled]="true" [dragData]="'checkbox'"></i>Checkbox</div>
        <div class="box"><i class="fa fa-dot-circle-o fa-5x fa-border" aria-hidden="true" dnd-draggable [dragEnabled]="true" [dragData]="'radio'"></i>Radio Butto</div>
        <div class="box"><i class="fa fa-font fa-5x fa-border" aria-hidden="true" dnd-draggable [dragEnabled]="true" [dragData]="'label'"></i>Label</div>
        <div class="box"><i class="fa fa-pencil-square-o fa-5x fa-border" aria-hidden="true" dnd-draggable [dragEnabled]="true" [dragData]="'text'"></i>Text</div>
        <div class="box" styles="display: none;"></div>
    </div>
</div>
